<!DOCTYPE html>
<html ng-app="TIYChocolateApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/ng-controller.js"></script>
<script src="../static/js/ng-controller.js"></script>
<!--{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}-->
<head>
    <title>Chocolate Factory</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="TIYChocolateController">
<h1>Chocolate Factory</h1>
<br><br>
tell me how many big bars of chocolate you have?</br>
<input type="text" ng-model="guess.bigs"/>
<br><br>
tell me how many small bars of chocolate you have?</br>
<input type="text" ng-model="guess.smalls"/>
<br><br>
tell me how much chocolate you want to make?</br>
<input type="text" ng-model="guess.goal"/>
<br><br>
<input type="button" ng-click="getSolution(guess.smalls, guess.bigs, guess.goal)" value="Make Chocolate">
<br>
<div class="in-box">
    <h2>Chocolate in stock:</h2></br>
    <div ng-repeat="chocIndex in makeArray(guess.bigs)">
        <div class="choc-big-bar">{{chocIndex + 1}}</div>
    </div>
    <div ng-repeat="chocIndex in makeArray(guess.smalls)">
        <div class="choc-small-bar">{{chocIndex + 1}}</div>
    </div>
</div>
<div class="in-box" ng-if="solution.hasSolution">
    <h2>Chocolate used:</h2></br>
    <div ng-repeat="chocIndex in makeArray(solution.bigs)">
        <div class="choc-big-bar">{{chocIndex + 1}}</div>
    </div>
    <div ng-repeat="chocIndex in makeArray(solution.smalls)">
        <div class="choc-small-bar">{{chocIndex + 1}}</div>
    </div>
</div>
<div cclass="in-box" ng-if="solution">
    <div class="in-box" ng-if="!solution.hasSolution">
        <h3>You do not have enough chocolate</h3>
    </div>
</div>
</body>
</html>